<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>My SPOT Map</title>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-inner">
          <a class="brand" href="/">{{ g.user.nickname }}</a>
            <ul class="nav nav-pills">
              <li><a href="{{ url_for('index') }}">Home</a></li>
              {% if g.user.is_authenticated() %}
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
              {% endif %}
            </ul>
        </div>
      </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <h2><span class="alert alert-info">{{ message }}</span></h2>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>