{% extends "base.html" %}

{% block content %}
    <h1>{{ feed.description }}</h1>
    <h3>{{ feed.spot_id }}</h3>

    {% include "map.html" %}

    <table class="table table-condensed">
        <tr>
            <th>Date</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Marker Type</th>
            <th>Active</th>
        </tr>
        {% for marker in feed.markers.all() %}
        <tr>
            <td>{{ marker.datetime.strftime('%m-%d-%Y %X') }}</td>
            <td>{{ marker.longitude }}</td>
            <td>{{ marker.latitude }}</td>
            <td>{{ marker.message_type }}</td>
            <td>{% if marker.active %} <span class="glyphicon glyphicon-ok-circle"></span> {% else %} <span class="glyphicon glyphicon-remove-circle"></span> {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}