{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}</h1>
    <form action="" method="post" name="post">
        {{ form.hidden_tag() }}
        <table>
            <tr class="form-group">
                <td>Add a new SPOT Feed: </td>
                <td>{{ form.spot_id(class="form-control") }}</td>
                <td>
                    {% for error in form.spot_id.errors %}
                    <span class="label label-danger">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{ form.description(class="form-control") }}</td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-default">Submit</button></td>
                <td></td>
            </tr>
        </table>
    </form>
    <br/>
    <table class="table table-condensed">
        <tr>
            <th>Feed</th>
            <th>Description</th>
            <th>Markers</th>
            <th>Active</th>
            <th></th>
        </tr>
        {% for feed in feeds %}
        <tr>
            <td><a href="{{ url_for('feed', spot_id=feed.spot_id) }}">{{ feed.spot_id }}</a></td>
            <td>{{ feed.description }}</td>
            <td>{{ feed.markers.count() }}</td>
            <td>{% if feed.active %}
                <a href="{{ url_for('toggle_feed_active', spot_id=feed.spot_id) }}"><span class="glyphicon glyphicon-ok-circle" style="color: green;"></span></a>
                {% else %}
                <a href="{{ url_for('toggle_feed_active', spot_id=feed.spot_id) }}"><span class="glyphicon glyphicon-remove-circle" style="color: red;"></span></a>
                {% endif %}
            </td>
            <td><a href="{{ url_for('delete', spot_id=feed.spot_id) }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
