<!--<div style="border: 1px solid black;">-->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <div id="map" class="map-column"></div>

    <script type="text/javascript">
        var markers;
        var messages = [ {% for marker in feed.markers.filter_by(active=True).all() %}
                        {'unixtime': {{ marker.unixtime }},
                         'datetime': '{{ marker.datetime }}',
                         'message_type': '{{ marker.message_type }}',
                         'longitude': {{ marker.longitude }},
                         'latitude': {{ marker.latitude }},
                        },
                        {% endfor %}
        ];
        var map = L.map('map').setView([45.5, -122.4], 7);
        var options = {
                        focus: false,
                        fitBounds: true,
                        marker: {
                            radius: 5,
                            color: '#333',
                            fillOpacity: 1,
                            stroke: false
                        },
                        line: {
                            color: '#333',
                            weight: 3,
                            dashArray: '5,5'
                        },
                        show: {
                            'UNLIMITED-TRACK': 12,
                            'OK': 14,
                            'CUSTOM': 14
                        }
        };
        var polyline = L.polyline([], options.line);

        L.tileLayer('http://{s}.tile.thunderforest.com/outdoors/{z}/{x}/{y}.png', {
        }).addTo(map);

        for (var i = 0, len = messages.length; i < len; i++) {
            message = messages[i];
            latlng = L.latLng(message.latitude, message.longitude);
            type = message.message_type;
            markerOptions = L.extend({ message: message }, options.marker);
            map.addLayer(L.circleMarker(latlng, markerOptions));
            polyline.addLatLng(latlng);
        }

        map.addLayer(polyline);
        map.fitBounds(polyline.getBounds());
    </script>
<!--</div>-->
